main{
    display: flex;
    justify-content: left;
    form{
        display: flex;
        flex-direction: column;
        width: 300px;

        .checkbox{
           display: flex;
           gap: 50px;
           margin-top: 6px;
           margin-bottom: 6px;
        }
        .campo{
            display: flex;
            flex-direction: column;
            gap: 6px;
        }

        .botao{
            display: flex;
            justify-content: right;
            margin-top: 16px;
        }
    }
}